---
import Avatar from "../ui/Avatar/Avatar";
import SideBar from "../components/SideBar/SideBar";
import Contacts from "../components/Contacts/Contacts";
import Tags from "../components/Tags/Tags";
import { proffessionalTools, industryKnowledge, contacts } from "../utils";
---

<div>
  <SideBar className={"w-[355px]"}>
    <Avatar className="self-center" />
    <Contacts contacts={contacts} />
    <Tags tags={proffessionalTools} typeWriterText="<Инструменты />" />
    <Tags tags={industryKnowledge} typeWriterText="<Знания />" />
  </SideBar>
</div>
