---
import WorkPlaces from "../components/WorkPlaces";
import { workPlaces } from "../utils";
---

<section>
  <h2 class="font-medium text-3xl mb-4">Опыт работы</h2>
  <WorkPlaces workPlaces={workPlaces} />
</section>
